.row
  .col-md-9
    = form_tag "/search", role: "form", class: "form-inline" do
      .form-group
        =label_tag :term, "Search Term"
        =text_field_tag :term
      =submit_tag "Search", class: "btn btn-default"

-if flash[:notice]
  .row
    .col-md-3.col-md-offset-4
      .alert.alert-warning
        = flash[:notice]
-if params[:term]
  .row
    .col-md-3.col-md-offset-5
      .alert.alert-info
        Search for
        %strong
          = params[:term]
  .row
    .col-md-6
      -if @complist
        %h2 Companies
        %ul.list-unstyled
          = render partial: "lcompany", collection: @complist

    .col-md-6
      -if @prodlist
        %h2 Products
        %ul.list-unstyled
          = render partial: "lproduct", collection: @prodlist
  .row
    .col-md-3.col-md-offset-4
      %ul.pager
        - unless @cpage == 1
          %li.previous
            = link_to "Previous", search_path(term: params[:term], cpage: @cpage -1), method: 'post'
        - unless @cpage*10 >= @csize
          %li.next
            = link_to "Next", search_path(term: params[:term], cpage: @cpage +1), method: 'post'
