<!DOCTYPE html>
<html>
<head>
  <title>CbInterface</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="page-header">
  <h1><%= link_to 'Crunchbase Find Portal', root_path %> <small>Find companies or products</small></h1>
</div>

  <%= yield %>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
